.filter-teacher {
  background: #fff;
  display: relative;
  max-width: 945px;
}
.filter {
  float: left;
}
.filter select {
  margin-left: 16px;
}

.sort {
  float: right;
}
.ml-16 {
  margin-left: 16px;
}
.mr-16 {
  margin-right: 16px;
}

@media only screen and (max-width: 600px) {
  .filter span {
    display: block;
    margin-bottom: 8px;
  }
  .sort {
    margin-top: 8px;
    float: left;
  }
  .sort Select {
  }
}